body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif; }
a{color:#00b7ff;}
.pokoj{float:left;width:100px;border:1px solid black;height:300px;padding:10px;overflow:scroll-y;}
.halo{ background: red; clear:both;}
.11{background:blue;}
.poz a{ float: left; width:40px; height:40px; }
.spr a {filter: alpha(opacity=50); opacity:0.5; }
.spr2 a {filter:  }
#Kolej{float: left;}
.droga a{ background-image: url('http://host1.panoramix.maxnet.org.pl/~wisla/XML/kamien.jpg');}
#Plansza{width:500px; float:left;}
.drzewo a:hover {background-image: url('http://www.keller107.cba.pl/z_yoyo/ok.png'); background-image: url('http://host1.panoramix.maxnet.org.pl/~wisla/XML/kamien.jpg');}
.drzewo a{
background-image: url('http://host1.panoramix.maxnet.org.pl/~wisla/XML/kamien.jpg');

background-repeat: no-repeat;
/*padding-left: 30px;   width of the image plus a little extra padding */
display: block; 
}